<mat-toolbar color="primary">

    <div class="header">

        <div class="header-left">
            <span class="logo">School HELP</span>
        </div>


        <div class="header-right">

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon style="transform: scale(1.5); ">account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item><a routerLink="/login">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Log Out</span>
                    </a>
                </button>

            </mat-menu>
        </div>
    </div>


</mat-toolbar>