<mat-toolbar color="primary">
    <span>
  <span class="logo"><a routerLink="/volunteer-home-page">School HELP</a></span>
    </span>

    <span class="spacer">
</span>
    <ul>
        <li>
            <a mat-button routerLink="/view-request" routerLinkActive="">View Request</a>
        </li>

        <li style="margin-right: 15px;">
            <a *ngIf="user">Welcome, {{ user.fullName }}</a>
        </li>
        <li>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon style="transform: scale(1.5); ">account_circle</mat-icon>
    </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item><a routerLink="/login">
          <mat-icon>exit_to_app</mat-icon>
          <span (click)="onLogout()" style="color: black;">Log Out</span>
        </a>
          </button>
            </mat-menu>
        </li>


    </ul>

</mat-toolbar>