mat-form-field,
textarea {
    width: 70%;
}

section {
    height: 1000px;
    overflow: hidden
}

mat-card {
    padding: 0;
    margin: auto;
    width: 40%;
    overflow: hidden;
    margin-top: 80px;
}

.first {
    margin-top: 30px;
}

button.regBtn {
    margin: 15px 90px 20px 20px;
    float: right;
}

button.loginBtn {
    margin: 15px 10px 20px 95px;
}

.loginForm {
    padding: 0 150px 0 150px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}