mat-form-field,
textarea {
    width: 70%;
}

section {
    background-color: #DEF5FF;
    height: 930px;
    overflow: hidden
}

mat-card {
    padding: 0;
    margin: 100px 600px 100px 600px;
    border-radius: 25px;
    overflow: hidden
}

mat-form-field {
    padding: 10px 20px 0 20px;
}

button.loginBtn {
    margin: 0 90px 20px 20px;
    float: right;
}

button.regBtn {
    margin: 0 10px 20px 95px;
}

.loginForm {
    padding: 0 150px 0 150px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}