mat-form-field,
textarea {
    width: 90%;
}

section {
    height: 1150px;
    overflow: hidden;
}

mat-card {
    margin-top: 35px;
    width: 40%;
    margin: auto;
    border-radius: 25px;
    overflow: hidden
}

.first {
    margin-top: 30px;
}

.loginForm {
    padding: 0 150px 0 150px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.green {
    background: rgb(65, 252, 134);
    color: white;
}

.green button {
    background-color: rgb(65, 252, 134);
    color: white;
    border: none;
}

.red-snackbar {
    background: #F44336;
    color: white;
}

.red-snackbar button {
    background-color: #F44336;
    color: white !important;
    border: none;
}
