<app-page-header></app-page-header>
<section>
    <mat-card @fade>
    <form (submit)="onAddRequest(accountForm)" #accountForm="ngForm">
        <mat-form-field appearance="outline" class="center-block">
            <mat-label>Description of Request</mat-label>
            <input matInput type="text" placeholder="Description" name="description" ngModel required minlength="3" #description="ngModel">
            <mat-error *ngIf="description.invalid">Please enter the description of request</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="center-block">
            <mat-label>Proposed Date and Time</mat-label>
            <input matInput type="datetime-local" placeholder="Date and Time" name="datetime" ngModel required minlength="3" #datetime="ngModel">
            <mat-error *ngIf="datetime.invalid">Please select a Date and Time</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="center-block">
            <mat-label>Student Level</mat-label>
            <input matInput type="text" placeholder="Student Level" name="studentlevel" ngModel required minlength="3" #studentlevel="ngModel">
                    <mat-error *ngIf="studentlevel.invalid">Please enter the Student Level</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="center-block">
            <mat-label>Number of Expected Students</mat-label>
            <input matInput type="text" placeholder="Number of Expected Students" name="numofexpectedstudents" ngModel required minlength="3" #numofexpectedstudents="ngModel">
            <mat-error *ngIf="numofexpectedstudents.invalid">Please enter the number of expected students</mat-error>
        </mat-form-field>

        <button class="regBtn" mat-raised-button color="accent" type="submit">Register</button>
    </form>
</mat-card>
</section>