mat-form-field,
textarea {
    width: 70%;
}

section {
    height: 1150px;
    overflow: hidden
}

mat-card {
    margin-top: 35px;
    width: 40%;
    margin: auto;
    border-radius: 25px;
    overflow: hidden
}

.first {
    margin-top: 30px;
}

.loginForm {
    padding: 0 150px 0 150px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}