<app-page-header></app-page-header>
<section>
    <mat-card @fade>
    <form (submit)="onAddSchool(accountForm)" #accountForm="ngForm">
        <mat-form-field appearance="outline" class="center-block">
            <mat-label>Schoolname</mat-label>
            <input matInput type="text" placeholder="Schoolname" name="schoolname" ngModel required minlength="3" #schoolname="ngModel">
            <mat-error *ngIf="schoolname.invalid">Please enter the school name</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="center-block">
            <mat-label>Schooladdress</mat-label>
            <input matInput type="text" placeholder="Schooladdress" name="schooladdress" ngModel required minlength="3" #schooladdress="ngModel">
            <mat-error *ngIf="schooladdress.invalid">Please enter the school address</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="center-block">
            <mat-label>City</mat-label>
            <input matInput type="text" placeholder="City" name="city" ngModel required minlength="3" #city="ngModel">
            <mat-error *ngIf="city.invalid">Please enter the City name</mat-error>
        </mat-form-field>
    </form>
    <form (submit)="onAddSchool(accountForm)" #accountForm="ngForm">
        <mat-form-field appearance="outline" class="center-block">
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="Username" name="username" ngModel required minlength="3" #username="ngModel">
            <mat-error *ngIf="username.invalid">Please enter the staff's username</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="center-block">
            <mat-label>Password</mat-label>
            <input matInput type="text" placeholder="Password" name="password" ngModel required minlength="3" #password="ngModel">
            <mat-error *ngIf="password.invalid">Please enter the staff's password</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="center-block">
            <mat-label>Fullname</mat-label>
            <input matInput type="text" placeholder="Fullname" name="fullname" ngModel required minlength="3" #fullname="ngModel">
                    <mat-error *ngIf="fullname.invalid">Please enter the staff's full name</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="center-block">
            <mat-label>Email</mat-label>
            <input matInput type="text" placeholder="Email" name="email" ngModel required minlength="3" #email="ngModel">
            <mat-error *ngIf="email.invalid">Please enter the staff's email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="center-block">
            <mat-label>Phone</mat-label>
            <input matInput type="text" placeholder="Phone" name="phone" ngModel required minlength="3" #phone="ngModel">
            <mat-error *ngIf="phone.invalid">Please enter the staff's phone number</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="center-block">
            <mat-label>StaffID</mat-label>
            <input matInput type="text" placeholder="StaffID" name="staffID" ngModel required minlength="3" #staffID="ngModel">
            <mat-error *ngIf="username.invalid">Please enter the Staff's ID</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="center-block">
            <mat-label>Position</mat-label>
            <input matInput type="text" placeholder="Position" name="position" ngModel required minlength="3" #position="ngModel">
            <mat-error *ngIf="username.invalid">Please enter the staff's position</mat-error>
        </mat-form-field>

        <button class="regBtn" mat-raised-button color="accent" type="submit">Register</button>
    </form>
</mat-card>
</section>